@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

h1{
	text-align: center;
	font-size: 15pt;
	font-family: 'Mochiy Pop One', sans-serif;
	color: white;
	background-color: black;
}
p{
	text-align: center;
	font-size: 15pt;
	font-family: 'Mochiy Pop One', sans-serif;
	color: white;
}
h2{
	text-align: center;
	font-size: 15pt;
	font-family: 'Mochiy Pop One', sans-serif;
	color: white;
	background-color: black;
}
body{
	background-color: grey;
}